<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{#if (eq env.DOCSEARCH_ENABLED 'true')}}
        <div class="navbar-item">
          <input id="search-input" type="text" placeholder="Search docs">
        </div>
        {{/if}}
        <a class="navbar-item" href="https://camptocamp.com">Camptocamp</a>
      </div>
    </div>
  </nav>
</header>