name: Run Gulp bundle

# Controls when the action will run.
on:
  push:
    # On which branch
    branches: ["master", "devops-stack"]
    # On which files
    # paths: ["scripts/scripts.js", "styles/styles.scss"]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # Job name
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # Sets up node
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm ci
      - run: gulp
      - uses: dev-drprasad/delete-older-releases@v0.1.0
        with:
          keep_latest: 0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: nelonoel/branch-name@v1.0.1
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: "${{ env.BRANCH_NAME }}-LATEST"
          name: "Release ${{ env.BRANCH_NAME }}-LATEST"
          body: |
            Release of the bundle-ui for ${{ env.BRANCH_NAME }}
          draft: false
          prerelease: false
          files: build/ui-bundle.zip
